html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  color: #646464;
  font-size: 16px;
  line-height: 24px;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
  line-height: 36px;
}

h2 {
  font-size: 30px;
  line-height: 30px;
}

h3 {
  font-size: 24px;
  line-height: 24px
}

h4 {
  font-size: 18px;
  line-height: 18px;
}

h5 {
  font-size: 14px;
  line-height: 14px;
}

h6 {
  font-size: 12px;
  line-height: 12px;
}

.container {
  /*text-align: center;*/
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
}

.content-wrapper {
  background-color: #f2f2f2;
  /*max-width: 1080px;*/
  width: 100%;
  padding-bottom: 200px;
}

hr {
  border: 0;
  height: 1px;
  background: #979797;
}

strong {
  font-weight: bold;
}

.row-flex {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}

.row-flex.sm-row {
  max-width: 780px;
}

.column {
  margin: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.column:first-child {
  margin-left: 0;
}

.column:last-child {
  margin-right: 0;
}

section:nth-of-type(5) .column:first-of-type {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 22px;
}

section:nth-of-type(6) .column:nth-of-type(2) {
  flex-grow: 4;
  flex-shrink: 4;
  flex-basis: 66px;
}

.column-left {
  flex: 1;
}

.column-right {
  flex: 0 0 180px;
  position: relative;
}

.content {
  margin: 32px 100px 0 50px;
}

.content p {
  padding-bottom: 10px;
  text-align: left;
}

section {
  text-align: left;
  padding: 20px 0;
}

section .title-text {
  font-size: 24px;
  padding-bottom: 20px;
}

/* Dropdown menu */
.dropdown {
    display: inline-block;
    width: 100%;
}

.dropdown__content {
    display: none;
}

.dropdown--active .dropdown__content {
    display: block;
}

.dropdown__content {
    padding: 20px 0 0 10px;
}

/* Sub navigation */

.subnav-wrapper {
  padding: 40px 0 25px 16px;
}

.subnav-list {
  list-style-type: none;
  text-align: left;
}

.subnav-list li {
  margin-bottom: 10px;
  padding-left: 10px;
}

.subnav-list li a.active {
  border-left: solid 2px #199fd6;
  font-weight: bold;
}

.subnav-list li:hover {
  cursor: pointer;
}

.subnav-list li a {
  text-decoration: none;
  color: #5d5d5d;
  text-transform: capitalize;
  font-size: 14px;
  padding: 3px 10px;
}

/* Reusable classes */

.text-left {
  text-align: left;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-0, .content .pb-0 {
  padding-bottom: 0;
}

.space-between {
  justify-content: space-between;
}

.triangle {
    border-right: 3px solid;
    border-bottom: 3px solid;
    height: 8px;
    width: 8px;
    transform: rotate(45deg);
    display: inline-block;
    float: right;
    margin-top: 2px;
}
